
<html>
  <title>
    Wood site
  </title>
  
  <body>
    <h1>Hi Welcome to wood site <%= name %></h1>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
  <body>
</html>
